<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-tsrouter-app"
    />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="manifest" href="/manifest.json" />
    <title>CERSER</title>
  </head>
  <body>
    <div style="display: none" id="login_details">
      <p id="username" th:text="${username}">ssha74</p>
      <p id="isAdmin" th:text="${isAdmin}">true</p>
      <p id="teamName" th:text="${teamName}">enterprise-security</p>
    </div>
    <div id="app"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
